<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>

    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
    </div>

   
    <div class="row" style="padding:10px;">

        <h2> Welcome <%= user.local.email %>!</h2>
        <br>

        <p> Press the button below to set up the connection with your iPhone device.</p>
        <a href="/connect" class="btn btn-default btn-sm">Link iPhone</a>

    </div>

    <hr> 

    <a href="/logout" class="btn btn-default btn-sm">Logout</a>

</div>

<script src="/socket.io/socket.io.js"></script>
<script>
var socket = io.connect();
socket.on("listen", function(data){
    console.log(data);
});
</script>

</body>
</html>