<!-- views/test.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Test Page</h1>
    </div>


    <div class="row" style="padding:10px;">

    <p> Test </p>
    <p id="dog">Cat</p>
    </div>

    <hr> 

    <script src="../javascript/test.js"></script>
    

</div>


</body>
</html>