ht
<!-- views/index.ejs -->
<!doctype html>
<html>
<script src="/socket.io/socket.io.js"></script>
<script>
    let clientToken = "<%= uniqueClient %>";
</script>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/javascript/form.js"></script>

    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Node Authentication</h1>

        <p>Waiting to connect: <%= email%></p>

    </div>

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascript/clientSocket.js"></script>
</body>
</html>

